{% extends "layout/basic.html" %}
{% block title %}{{ current_gender.name }}{% endblock %}
{% block content %}
        <div class="container">
            <h2 style="text-align: center;"><strong>{{ current_gender.name }}</strong></h2>
        <br>
      <div class="row">
          <div class="col-9">
            <div class="row">
                {% for mm in mms %}
              <div class="col-3">
                <a href="{% url 'seriespage' mm.pk%}">
                  <img src="{{ mm.linkposter }}" class="postersphoto">
                </a>
                <h5 style="text-align: center">{{ mm.title }}</h5>
              </div>
                {% endfor %}
            </div>
          </div><!-- /.col-9 -->
          <div style="text-align: center" class="col-3">
          <h3>Serials</h3>
              {% for series in serials %}
            <a href="{% url 'seriespage' series.pk %}">
                  <img src="{{ series.linkposter }}" class="postersphoto">
                </a>
                <h5 style="text-align: center">{{ series.title }}</h5>
            <br>
              {% endfor %}
          </div><!-- /.col-3 -->
        </div><!-- /.row -->
{% endblock %}